@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --background-color: #063940;
  --primary-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--background-color);
  color: var(--primary-color);
  text-align: center;
  padding: 10px;
  margin-bottom: 1em;
  font-size: 1.2em;
}

header h1 {
  font-weight: normal;
  font-size: 1.5em;
}

header h1 span {
  font-family: 'Kaushan Script', cursive;
}

div.content {
  flex: 1;
}

main {
  display: flex;
  justify-content: center;
  gap: 2em;
  align-items: flex-start;
}

main section {
  border: 2px dashed #195e63;
  width: 500px;
  padding: 10px;
  margin-bottom: 3em;
  border-radius: 15px;
  min-height: 380px;
}

main section h2 {
  text-align: center;
  padding: 10px;
  text-decoration: underline;
  font-size: 1.2em;
}

main section p {
  border: 2px solid #3e838c;
  padding: 10px;
  font-size: 1.1em;
  border-radius: 15px;
}

main section.secao-datas p {
  text-align: center;
}

main section p.campo-botao {
  border: none;
}

main section p:nth-child(n+2) {
  margin-top: 10px;
}

main section p label {
  display: inline-block;
  width: 200px;
  text-align: justify;
}

main section p input {
  width: 70px;
}

main section#secao-pessoas label {
  text-align: left;
}

main section#secao-pessoas input {
  width: 200px;
}

main section#secao-pessoas .campo-botao {
  text-align: center;
}

input[type="button"] {
  border: none;
  width: 150px;
  padding: 5px;
  border-radius: 10px;
  background-color: var(--background-color);
  color: var(--primary-color);
  cursor: pointer;
  transition: opacity 0.3s ease;
}

input[type="button"]:hover {
  opacity: 0.7;
}

#resultado-datas, #resultado-pessoas {
  text-align: center;
  margin: 1em 0;
}

#copiar-container-datas,
#copiar-container-pessoas,
#gerar-lista-pessoas {
  display: none;
}

div#container-pessoas {
  margin-top: 10px;
}

footer {
  background-color: var(--background-color);
  color: var(--primary-color);
  text-align: center;
  padding: 10px;
}

footer span {
  color: #ece1c3;
}

footer a {
  text-decoration: none;
  color: #8ebdb6;
}

footer a:hover {
  color: #195e63;
}

@media screen and (max-width: 1100px) {
  main {
    flex-direction: column;
    align-items: center;
  }

  main section {
    margin-bottom: 0;
  }

  main section#secao-pessoas {
    margin-bottom: 2em;
  }
}

@media screen and (max-width: 580px) {
  main {
    flex-direction: column;
    align-items: center;
  }

  main section {
    margin-bottom: 0;
    width: auto;
  }
}